body {
    background: linear-gradient(to right, #9150b6 25% , #3440ad);
}

.logo {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.encriptar {
    border: none;
    background-color: #ffffff00;
    /*estilos figma*/
    position: absolute;
    resize: none;
    height: 500px;
    width: 650px;
    left: 340px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 22px;
    /* identical to box height, or 48px */
    /* Dark blue/dark-blue-300 */
    color: #c5cfdb;
}

.encriptar:focus {
    outline: none;
}

.desencriptar {
    resize: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 20px;
    background-position-x: 50px;
    background-position-y: 200px;
    /* figma*/
    position: absolute;
    height: 944px;
    left: 71%;
    top: 40px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    width: 400px;
}

.desencriptar:focus {
    outline: none;
  }

  .dentrodesencriptado {
    position: absolute;
    top: 280px;
    left: 72.5%;
    text-align: center;
}

div #titulo {
    
    font-family: 'Inter';
    font-weight: bold;
    font-size: 25px;
}

div #subtitulo {
    font-family: 'Inter';
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

div #boton{

    background: #0A3871;
    color: #FFFFFF;
    width: 328px;
    height: 67px;
    flex-direction: row;
    padding: 4px;
    gap: 8px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 780px;
    left: 400px;
    border: none;
}

div #boton2 {

    background: #0A3871;
    color: #FFFFFF;
    width: 328px;
    height: 67px;
    flex-direction: row;
    padding: 4px;
    gap: 8px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 780px;
    left: 790px;
    border: none;
    
}

div #boton3 {
    background: #a8183c;
    color: #FFFFFF;
    width: 328px;
    height: 67px;
    flex-direction: row;
    padding: 4px;
    gap: 8px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 880px;
    left: 595px;
    border: none;
}

div #boton3:hover {
    cursor: pointer;
    transition: 1s;
    transform: scale(1.1);
}


div #boton:hover {
    cursor: pointer;
    transition: 1s;
    transform: scale(1.1);
}

div #boton2:hover {
    cursor: pointer;
    transition: 1s;
    transform: scale(1.1);
}

#botoncopiar {
    visibility: hidden;
    background: #0eb466;
    color: #FFFFFF;
    height: 67px;
    gap: 8px;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 750px;
    left: 77.8%;
    border: none;
}

 #botoncopiar:hover {
    cursor: pointer;
    transition: 1s;
    transform: scale(1.1);
}

.vector {
    position: absolute;
    top: 730px;
    left: 380px;
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.instrucciones {
    color: #FFFFFF;
    position: absolute;
    top: 713px;
    left: 399px;
}